body{
  font-family: Garamond, Georgia, Serif;
  font-size: 15 px;
  padding: 0;
  margin: 0;
  background-color: #f4f4f4;
  height: 100%;
}
/* Global */
.container{
  width: 98%;
  position: relative;
  margin: auto;
  overflow: hidden;
}

.button{
}

u1{
  margin: 0;
}

a:link {
  color: #f4f4f4;
}

a:visited {
  color: #e5f9ff;
}

a:hover {
  color: #00c6ff;
  text-decoration: underline;
}

/* Header */
header{
  font-family: Helvetica, Calibri, sans-serif;
  background: #23232d;
  max-height: 50px;
  border-bottom: #0f0f19 4px solid;
}

header a{
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
}

header l1{
  float: left;
  display: inline;
  padding: 0 10px 0 10px;
}

header #branding img{
  float: left;
  max-height: 50px;
  padding-bottom: 15px;
}

header #branding h1{
  margin: 0;
}

header nav{
  float: right;
  margin-top:17.5px;  /* 0.5(50px-header a{font size})*/
}

header .highlight, header .current a{
  color: #00c6ff;
  font-weight: bold;
}

footer{
  position: fixed;
  bottom: 0;
  width: 100%;
  color: #f4f4f4;
  background: #23232d;
  border-top: #0f0f19 4px solid;
  text-align: center;
}

#boxes{
  width: auto;
}

#boxes .box{
  float: left;
  text-align: center;
  padding: 20px;
}

#boxes .box p{
  font-family: Helvetica, Calibri, sans-serif;
}

#boxes .box img{
  max-width: 300px;
}

#newsletter{
  border-bottom: #0f0f19 4px solid;
  border-top: #0f0f19 4px solid;
  color: #f4f4f4;
  background: #23232d;
}

#newsletter h1{
  float: left;
}

#newsletter form{
  float: right;
  margin-top:15px;
}

#newsletter input[type="email"]{
  height: 25px;
  width: 250px;
}

#showcase{
  max-height: 300px;
  text-align: center;
  color: #f4f4f4;
  border-bottom: #0f0f19 4px solid;
}

#showcase img{
    max-height: 300px;
}

#showcase .about{
  background:url('../images/backgrounds/about_bg_hd.jpg') no-repeat center top;
}

#showcase .blog{
  background:url('../images/backgrounds/blog_bg_hd.jpg') no-repeat center top;
}

#showcase .contact{
  background:url('../images/backgrounds/contact_bg_hd.jpg') no-repeat center top;
}

#showcase .gallery{
  background:url('../images/backgrounds/gallery_bg_hd.jpg') no-repeat center top;
}

#showcase .index{
  background:url('../images/backgrounds/index_bg_hd.jpg') no-repeat center top;
}

#showcase .lets_read{
  background:url('../images/backgrounds/lets_read_bg_hd.jpg') no-repeat center top;
}